<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="../../components/imagem alinhada/img-alinhada.css">
</head>
<body>

    <div class="bloco">
        <img src="../../../assets/restaurante-mini.jpg" alt="Restaurante">
        <div class="texto">
            <h1>Restaurante</h1>
            <p>Avaliação</p>
            <div class="estrelas">★★★★★</div>
            <p>Endereço</p>
        </div>
    </div>

    <div class="bloco">
        <img src="../../../assets/restaurante-mini 2.jpg" alt="Restaurante">
        <div class="texto">
            <h1>Restaurante</h1>
            <p>Avaliação</p>
            <div class="estrelas">★★★☆☆</div>
            <p>Endereço</p>
        </div>
    </div>