<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <select class="selecionar-fest">

        <option value="" selected disabled>Selecione um festival</option>
        <option value="festival-1">Festival 1 (exemplo)</option>
        <option value="festival-2">Festival 2 (exemplo)</option>

    </select>

<input class="filtro" type="text" placeholder="Busque por Local, Festival...">
</body>
</html>