<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../variables.css"> 
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <footer class="footer">

        <div class="esquerda">

            <div class="logo">
                <img src="../../../assets/logo branca.jpeg" alt="logo">
            </div>
               
            <div class="texto1">
                <p>© 2026 Curitiba Festivais Gastronômicos</p>
            </div>

        </div>

        <div class="meio">
            <p>Encontre festivais gastronômicos, restaurantes participantes e experiências culinárias em Curitiba.</p>
            <p>Projeto acadêmico — sem vínculo oficial com os eventos e restaurantes apresentados.</p>
        </div>

        <div class="direita">
            <p>@gastrofest</p>
        </div>

    </footer>

</body>
</html>